/* ========== 全局背景 ========== */
QWidget {
    background: #F0F4F9;
}

/* ========== 输入框通用样式 ========== */
QLineEdit {
    background-color: #ffffff;
	border-color: #000000;
    font-family: inherit;
    color: #1e2a3e;
    selection-background-color: #0A75F0;
}

QDateEdit {
    background-color: #ffffff;
	border-color: #000000;
    font-family: inherit;
    color: #1e2a3e;
    selection-background-color: #0A75F0;
}

QTextEdit {
    background-color: #ffffff;
	border-color: #000000;
    font-family: inherit;
    color: #1e2a3e;
    selection-background-color: #0A75F0;
}


QComboBox::placeholder {
    color: #9aa9bb;
}

/* ========== Combobox通用样式 ========== */
QComboBox {
    background-color: #ffffff;
	border-color: #000000;
    font-family: inherit;
    color: #1e2a3e;
    selection-background-color: #0A75F0;
}

QComboBox:focus {
    border-color: #0A75F0;
    background-color: #ffffff;
}

QComboBox::placeholder {
    color: #9aa9bb;
}

/* ========== 复选框 ========== */
QCheckBox {
    spacing: 6px;
    color: #5f6c80;
    font-size: 12px;
    font-family: inherit;
}

QCheckBox::indicator {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid #cbd5e1;
    background-color: #ffffff;
}

QCheckBox::indicator:checked {
    image: url(:/resources/icon/checked.png);
}



/* ========== 分割线（可选装饰） ========== */
QLine {
    background-color: #eef2f6;
    max-height: 1px;
}